$primary-color: #131722;
$secondary-color: #7fc4d1;

.dark-theme{
  background: $primary-color;

  &.bright-theme{
    background: white;
  }
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid grey;
}
