@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&family=Roboto:ital,wght@1,700&display=swap');.user-info-box{
  display: flex;
  align-items: center;


  &-avatar{
    height: 60px;
    width: 60px;
    border-radius: 100px;
    margin-right: 10px;

  }

  &-text{
    margin-right: 10px;
    font-weight: bold;
    font-family: 'Baloo Da 2', cursive;
    color: grey;
  }
}